.header         {left:50%; text-align: center;}
.flash          { background: #cee5F5; }

.logo {
	padding: 10px;
	font-size: 16pt;
	font-family: Garamound;
}

.header-bg {
    background-color: #FFF39C;
}


.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.sidebar li a {
    /*display: block;*/
    color: #000;
    padding: 2px 4px;
    text-decoration: none;
}

.sidebar li {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


#content {
	height: 100%;
}

.profile_pic {
    border-radius: 50%;
    height: 42px;
}

.user_pic {
    height: 46px;
    width: 46px;
    border-radius: 50%;
}
