{% extends "layout.html" %}

{% block section_title %}
<h1>Latest Entries</h1>
<a href="/rss">RSS feed link here</a>
{% endblock %}

{% block content %}

	<div class="col-sm-9">
		<div class="row">
			{% for i in items %}

			<p>
			<img src="{{i.img}}" alt="{{i.name}}" height="42" width="42" onerror="this.src='/static/images/default.png'" >
			<a href="{{url_for('showCatalogItem', cat_name=i.category.name, catalogItem = i.name, item_id = i.id)}}"><strong>{{i.name}}</strong></a>, <em> {{i.price}} </em>
			{{i.description[:20]+"..."}} ({{i.category.name}}) - <em>{{i.timestamp.strftime("%a, %b %d %Y") }} </em>
			</p>
			
			{% endfor %}

		</div>

	</div>

{% endblock %}
